*, *::after, *::before{box-sizing: border-box; padding: 0; margin: 0; text-decoration: none; outline: none;}
body {
  background-color: #fcfcfe; /* 6a707c border: 2px solid red;*/
  font-optical-sizing: auto; font-style: normal;
	font-variation-settings: 'slnt' 0, 'FLAR' 0, 'VOLM' 0;
	font: 14px/1.5 'Commissioner', sans-serif;
}
body, p.font-medium{color: #4d5460;}
hr{color: #e6e7eb;}
a{color: #6748af}
p{text-wrap: balance;}
h1, h2, h3, h4, h5, h6 {color: #101626}
svg{width: .8rem;}
.w-70{width: 70%;}
.w-100{width: 100%;}
img{max-width: 100%; object-fit: cover;}
main{width: min(90%, 100% - 3rem); margin-inline: auto; display: grid; gap: 1rem;}
.fill-white{fill: white}
.mb-4{margin-bottom: 1rem;}
.flex{display: flex; gap: .75rem;}
.font-medium{font-weight: 600}
.justify-between{justify-content: space-between;}
.relative, .profile-container{position: relative;}
.inline-block{display: inline-block; }
.align-center{align-items: center}
.btn{font-weight: 600; letter-spacing: .5px; text-align: center; padding: .5rem 1rem; border-radius: .35rem; border: 1px solid #d3d4d9; color: #394050; box-shadow: 0 0 2px rgba(0, 0, 0, .05);}
.btn-primary{background-color: #7f56da; color: #fff}
.gradient{background: url('./imgs/background-pattern-mobile.svg') no-repeat center/cover; min-height: 20vh;}
.profile{min-width: 150px; min-height: 150px; border-radius: 100%; position: absolute; top: -50px; background: url('./imgs/profile.jpg') no-repeat top center/cover; border: 4px solid #fff; box-shadow: 0 0 8px rgba(0, 0, 0, .4);}
.intro{padding: 112px 0 1rem; }

@media screen and (max-width: 768px) {
  .intro, .about, .goals, .links{flex-direction: column;}
}

@media screen and (min-width: 768px) {
  .intro{padding: 0 0 0 11rem;}
  .about-intro{padding-top: 1.5rem;}
  .intro-text{padding-top: 1rem;}
  .about, .goals{gap: 3rem}
  .gradient{background: url('./imgs/background-pattern-desktop.svg') }
}